.cont_1 {
    display: flex;
    flex-direction: row;
    color: #fff;
  }
  
  .left_1 {
    flex: none;
    background: #111;
     width: 25%;
  }
  
  .right_1 {
    flex: none;
    background: #111;
  }
  
  .middle_1 {
    flex: auto;
    background: #66ccff;
  }